RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAE} !-f
RewriteCond %{REQUEST_FILENAE} !-d

RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.png|\.gif|\.jpg|\.jpeg|\.html)

RewriteRule ^(.*)$ index.php?$1 [QSA,L]