<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>EWShop - 欢迎使用【EWShop】商城系统</title>
    <meta name="keywords" content="源代码,lmonkey,php,shop,ewphp,php商城系统,b2c商城系统,php商城源码,b2c商城源码,开源免费网上商城系统"/>
    <meta name="description" content="EWShop1.0 教学演示系统！"/>
    <link type="text/css" rel="stylesheet" href="../app/views/home/resource/css/style.css"/>
    <script type="text/javascript" src="../app/views/public/js/jquery.js"></script>
    <script type="text/javascript" src="../app/views/public/js/global.js"></script>
</head>
<body>
<div class="pagetop">
    <div class="quick_menu">
        <p>
            <span class="fl">您好<a style="border:0px;padding:0px" href="/user/order" title="会员中心"><span class="cred">user001</span></a>， 欢迎使用【EWShop】商城系统</span>
            <span class="fr">
				<a href="/user/order" title="会员中心">会员中心</a>
				<a href="/order/add" title="购物车" class="gwc">购物车 <span class="cred">0</span> 件</a>
				<a href="/order/plist" title="订单查询">订单查询</a>
				<a href="/user/logout" title="退出" style="border:0">退出</a>
			</span>
        </p>
    </div>


    <div class="width980">
        <div class="header" style="padding:10px 0">
            <div class="fl logo">
                <a href="/" title="欢迎使用【EWShop】商城系统">
                    <img src="../uploads/2020-0812-5f3384e8e3cae.png" height="50" alt="欢迎使用【EWShop】商城系统"/>
                </a>
            </div>

            <div class="sear fl">
                <form method="get" action="/plist/0">
                    <div class="inputbg fl">
                        <input type="text" name="keyword" value="" class="fl searinput c666"/>
                    </div>
                    <input type="submit" class="fl sear_btn" onclick="this.form.submit();return false;" value="搜索"/>
                </form>
            </div>
            <p class="top_tel fr">咨询热线：400-700-1388</p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="nav">
        <ul>
            <li class="sel"><a href="/" title="首页">首页</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li><a href="/plist/15">前端</a></li>
            <li class="sel"><a href="/page/16" title="关于我们">关于我们</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- content -->
<div class="content">
    <div class="now">
        您现在的位置：<a href='/'>首页</a> &gt; <a href='/plist/16' title='后端'>后端</a> &gt; 《细说PHP》第4版
    </div>
    <div class="fl proimg">
        <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="400" height="400" />
    </div>
    <div class="fl proinfo">
        <h3>《细说PHP》第4版</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr style="color:#fff;background:#d83228; background:url(../app/views/home/resource/images/jg_bg.gif) repeat;">
                <td style="height:50px;" valign="top" width="60"><p class="mat5">价 格</p></td>
                <td style="height:50px;">
                    <span style="color:yellow" class="jg_price">￥  <span id="product_money">108.0</span></span>
                    <p>市场价 <s class="num">￥ 158.0</s>　　运费：卖家包邮</p>
                </td>
            </tr>

            <tr>
                <td style="color:#666">销 量</td>
                <td>共售出 <span class="cred num strong">3</span> 件 <a href="javascript:find_comment();" class="cblue">(已有4人评价)</a></td>
            </tr>

            <tr>
                <td style="color:#666">数 量</td>
                <td class="shuliang">
                    <input type="hidden" name="prorule_id" />
                    <span class="img1" onclick="bro_numchange('product_num', '-', 1);">-</span>
                    <div class="shuliang_box"><input type="text" name="product_num" value="1" readonly /></div>
                    <span class="img2" onclick="bro_numchange('product_num', '+', 17);">+</span>
                    <span class="fl c888 mal5 mat2">　库存<span id="product_num">17</span>件</span>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <a href="javascript:;" onclick="cart_add('898');" class="fl">
                        <img src="../app/views/home/resource/images/buy.gif" />
                    </a>
                    <a href="javascript:collect_add('898');" class="sctj fl">添加到收藏夹</a>
                </td>
            </tr>
        </table>

        <p style="margin:10px 20px; border-top:1px #ddd dotted; padding-top:5px;">
            上架时间：2020-08-20 00:00　　浏览次数：8　　收藏人数：0
        </p>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <div class="remai fl mat10">
        <h3>商品分类</h3>
        <div class="hotlist spfl">
            <div class="zhulei"><a href="/plist/25" class="sel">PHP</a></div>
            <div class="clear"></div>
            <div class="zilei"><div class="clear"></div></div>

            <div class="zhulei"><a href="/plist/25" class="sel">PHP</a></div>
            <div class="clear"></div>
            <div class="zilei"><div class="clear"></div></div>

            <div class="zhulei"><a href="/plist/25" class="sel">PHP</a></div>
            <div class="clear"></div>
            <div class="zilei"><div class="clear"></div></div>

            <div class="zhulei"><a href="/plist/25" class="sel">PHP</a></div>
            <div class="clear"></div>
            <div class="zilei"><div class="clear"></div></div>
        </div>
        <h3 class="mat10">热销排行</h3>
        <ul class="hotlist">
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
            <li>
                <span class="fl hotimg">
                    <img src="../app/views/public/images/load.gif" data-original="../uploads/product/2020-0820-5f3e059c25d7b.png" width="60" height="60" title="《细说PHP》第4版" />
                </span>
                <span class="fl hotname">
					<a href="/product/898" title="《细说PHP》第4版" target="_blank">《细说PHP》第4版</a>
					<span class="cred num strong lh20">￥108.0</span>
				</span>
                <div class="clear"></div>
            </li>
        </ul>
    </div>

    <div class="fr xiangqing">
        <div class="caidan1">
            <ul class="fl" id="js_menu">
                <li class="sel"><a href="javascript:;">商品展示</a></li>
                <li><a href="javascript:;">售前咨询(6)</a></li>
                <li><a href="javascript:;">顾客评价(4)</a></li>
                <li><a href="javascript:;">售后服务</a></li>
            </ul>
            <div class="fr c666 mat10 mar10">商品货号：0001</div>
        </div>

        <div class="promain js_menuhtml">
            <img src="../uploads/article/2020-0820-5f3e0578c11f0.jpg" alt="e12ca4af36580fb1.jpg" width="750" height="8100" />
        </div>

        <!--咨询 Start-->
        <div class="promain js_menuhtml" style="display:none">
            <div class="plmain" id="js_askhtml">
                <ul class="mat5">
                    <li class="fl">会员：user001</li>
                    <li class="fr">咨询日期：2020-08-20 07:11</li>
                </ul>
                <div class="padb10 mal10 lh18">
                    <div class="mat10 font14">有作者签名不？</div>
                </div>

                <ul class="mat5">
                    <li class="fl">会员：user001</li>
                    <li class="fr">咨询日期：2020-08-20 07:11</li>
                </ul>
                <div class="padb10 mal10 lh18">
                    <div class="mat10 font14">有作者签名不？</div>
                </div>

                <ul class="mat5">
                    <li class="fl">会员：user001</li>
                    <li class="fr">咨询日期：2020-08-20 07:11</li>
                </ul>
                <div class="padb10 mal10 lh18">
                    <div class="mat10 font14">有作者签名不？</div>
                </div>

                <ul class="mat5">
                    <li class="fl">会员：user001</li>
                    <li class="fr">咨询日期：2020-08-20 07:11</li>
                </ul>
                <div class="padb10 mal10 lh18">
                    <div class="mat10 font14">有作者签名不？</div>
                </div>

                <div class="xuxian1"></div>
                <div class="zixunbox">
                    <div class="fl pl_l"></div>
                    <div class="fl pl_m">请在这里发表您的问题</div>
                    <div class="fl pl_r"></div>
                    <div class="clear"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top">用户名称：</td>
                            <td> user001 </td>
                        </tr>
                        <tr>
                            <td valign="top">咨询内容：</td>
                            <td><textarea name="asktext" style="width:550px;height:120px;resize:none;"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" value="提交" class="tj_btn"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--咨询 End-->
        <!--评论 Start-->
        <div class="promain js_menuhtml" style="display:none">
            <div class="plmain" id="js_commenthtml">
                <ul class="mat5">
                    <li class="fl">会员：user003</li>
                    <li class="fr">评价日期：2020-08-20 07:13</li>
                </ul>
                <div class="pingjia font14">很好的书， 推荐购买。</div>

                <ul class="mat5">
                    <li class="fl">会员：user003</li>
                    <li class="fr">评价日期：2020-08-20 07:13</li>
                </ul>
                <div class="pingjia font14">很好的书， 推荐购买。</div>

                <ul class="mat5">
                    <li class="fl">会员：user003</li>
                    <li class="fr">评价日期：2020-08-20 07:13</li>
                </ul>
                <div class="pingjia font14">很好的书， 推荐购买。</div>

                <ul class="mat5">
                    <li class="fl">会员：user003</li>
                    <li class="fr">评价日期：2020-08-20 07:13</li>
                </ul>
                <div class="pingjia font14">很好的书， 推荐购买。</div>

                <div class="xuxian1"></div>
                <div class="zixunbox">
                    <div class="fl pl_l"></div>
                    <div class="fl pl_m">请在这里发表您的评论</div>
                    <div class="fl pl_r"></div>
                    <div class="clear"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top">用户名称：</td>
                            <td>user001</td>
                        </tr>
                        <tr>
                            <td valign="top">评价内容：</td>
                            <td><textarea name="content" style="width:550px;height:120px;resize:none;"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" value="提交" class="tj_btn"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--评论 End-->
        <div class="promain js_menuhtml" style="display:none">
            <a target="_blank" href="http://www.eduwork.cn">
                    这里是通用的内容！
             </a>
        </div>
    </div>
</div>

<!-- footer -->
<div class="clear"></div>
<div class="ad980">
    <a href="https://www.eduwork.cn" target="_blank">
        <img src="../uploads/ad/2020-0820-5f3dfe4eea645.png" width="980" height="80"/>
    </a>
</div>


<div class="foot">
    <div class="bottom_link">
        <div class="border_link">
            <div class="item_1 fl">
                <h3>用户指南</h3>
                <ul class="mat5">
                    <li><a href="/page/12" title="订单查询">订单查询</a></li>
                    <li><a href="/page/13" title="退换货流程">退换货流程</a></li>
                    <li><a href="/page/15" title="用户协议">用户协议</a></li>
                </ul>
            </div>

            <div class="bottom_libg fl"></div>

            <div class="item_1 fl">
                <h3>配送方式</h3>
                <ul class="mat5">
                    <li><a href="/page/17" title="联系我们">联系我们</a></li>
                    <li><a href="/page/18" title="诚聘英才">诚聘英才</a></li>
                    <li><a href="/page/8" title="支付方式">支付方式</a></li>
                </ul>
            </div>

            <div class="bottom_libg fl"></div>

            <div class="item_1 fl">
                <h3>售后服务</h3>
                <ul class="mat5">
                    <li><a href="/page/9" title="常见问题">常见问题</a></li>
                    <li><a href="/page/10" title="配送时间及运费">配送时间及运费</a></li>
                    <li><a href="/page/11" title="验货与签收">验货与签收</a></li>
                </ul>
            </div>

            <div class="bottom_libg fl"></div>

            <div class="item_1 fl">
                <h3>关于我们</h3>
                <ul class="mat5">
                    <li><a href="/page/7" title="购物指南">购物指南</a></li>
                    <li><a href="/page/16" title="公司简介">公司简介</a></li>
                    <li><a href="/page/14" title="退换货条款">退换货条款</a></li>
                </ul>
            </div>

            <div class="bottom_libg fl"></div>


            <div class="foot_tel fl">
                <h3 class="c666">欢迎使用【EWShop】商城系统</h3>
                <p class="mat10">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=779050720&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:779050720:41" alt="点击这里给我发消息" title="点击这里给我发消息">
                    </a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=779050720&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:779050720:41" alt="点击这里给我发消息" title="点击这里给我发消息">
                    </a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=779050720&site=qq&menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:779050720:41" alt="点击这里给我发消息" title="点击这里给我发消息">
                    </a>
                </p>
                <p class="tel_num">400-700-1388</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="flink">
        <span class="strong">友情链接：</span>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
        <a href="https://www.eduwork.cn" title="融职教育" target="_blank">融职教育</a>
    </div>
    <div class="subnav">
        Copyright <span class="num">&copy;</span>
        学习猿地 2018-2021 All Rights Reserved
        京ICP备1101010121号
        京公网安备121231212121　
        <p>
            咨询热线：400-700-1388　
            咨询QQ：779050720,46458494,3154661999　
        </p>
        <p>
            Powered by
            <a href="http://www.eduwork.cn" target="_blank" title="EWShop商城系统v1.0" class="cgreen">EDUWORK</a>
        </p>
    </div>


</div>


<script type="text/javascript" src="../app/views/public/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="../app/views/public/js/jquery.slide.js"></script>
<script type="text/javascript">
    $(function () {
        $("img").lazyload({
            effect: "fadeIn",
            container: $("body")
        });
        $("#jdtslide").KinSlideshow({
            moveStyle: "left",
            intervalTime: 5,
            mouseEvent: "mouseover",
            titleBar: {"titleBar_bgColor": ""},
            titleFont: {TitleFont_size: 14, TitleFont_color: "#ffffff"}
        });
        $(".fenlei_li").hover(
            function () {
                $(".fenlei_li").find("h3 a").removeClass("sel");
                $(this).find("h3 a").addClass("sel");
                $(".fenlei_li").find("div").hide();
                $(this).find("div").show();
            },
            function () {
                $(".fenlei_li").find("h3 a").removeClass("sel");
                $(".fenlei_li").find("div").hide();
            }
        )
    })
</script>
</body>
</html>
<script charset="utf-8" src="../app/views/public/js/plugin/artdialog/jquery.artDialog.js?skin=simple"></script>
<script charset="utf-8" src="../app/views/public/js/plugin/artdialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
    function find_comment() {
        $("#js_menu").find("li").eq(2).click();
        window.location.href = "#js_menu";
    }


    function collect_add(id) {
        if (!1) {
            alert('抱歉：只有登录用户才能收藏商品！请先登录...');
            return;
        }
        $.getJSON("/product/collectadd", {"pid":id},function(json){
            alert(json.show);
        })
    }


    //加入购物车

    function cart_add(id) {
        $.getJSON("/order/cartadd", {"pid":id,"pnum":$(":input[name='product_num']").val()},function(json){

            if (json.result == true) {
                art.dialog({
                    id: 'cart_add',
                    lock: true,
                    content: '<div class="gw"><p>商品已成功加入购物车！</p><a class="gw2" href="/order/add"></a><a class="gw1" href="javascript:dialog_close();"></a></div>'
                });
            }else if (json.result == -1) {
                alert('商品库存不足...')
            } else {
                alert('抱歉，加入购物车失败，请重新加入...')
            }
        })
    }

    function dialog_close(){
        art.dialog.list['cart_add'].close();
    }



    $(function(){


        //标签切换
        $("#js_menu").find("li").click(function(){
            $("#js_menu").find("li").removeClass("sel");
            $(this).addClass("sel");
            $(".js_menuhtml").hide();
            $(".js_menuhtml").eq($("#js_menu").find("li").index($(this))).show();
        })

        //咨询发表
        $("#js_askhtml").find(":button").click(function(){
            //判断登陆
            if (!1) {
                alert('抱歉：只有登录用户才能发表咨询！请先登录...');
                return;
            }
            var ask_text = $(":input[name='asktext']").val();
            if (ask_text == '') {
                alert('咨询内容必须填写');
                return;
            }


            $.post("/product/askadd", {"pid":898,"asktext":ask_text, "do_submit":true}, function(json){

                if (json.result) {
                    $("#js_askhtml").prepend(json.html);
                    $(":input[name='asktext']").val('');
                    alert('咨询提交成功！卖家会尽快答复...');
                }else {
                    alert('抱歉，咨询提交失败，请重新提交...');
                }
            }, 'json');
        });


        //评价发表
        $("#js_commenthtml").find(":button").click(function(){
            if (!1) {
                alert('抱歉：只有登录用户才能发表评价！请先登录...');
                return;
            }

            var comment_text = $(":input[name='content']").val();
            if (comment_text == '') {
                alert('评价内容必须填写');
                return;
            }

            $.post("/product/commentadd", {"pid":898,"content":comment_text,"do_submit":true}, function(json){
                if (json.result) {
                    $("#js_commenthtml").prepend(json.html);
                    $(":input[name='content']").val('');
                    alert('感谢您的支持，评价提交成功！');
                }
                else {
                    alert('抱歉，评价提交失败，请重新提交...')
                }
            }, "json")
        });


    });

</script>

