
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ewshop后台管理 - 基本信息</title>
	<link type="text/css" rel="stylesheet" href="../../app/views/admin/resource/css/style.css" />
	<script type="text/javascript" src="../../app/views/public/js/jquery.js"></script>
	<script type="text/javascript" src="../../app/views/public/js/global.js"></script>
</head>
<div class="bgimg"></div>
<div class="pagetop">
	<div class="head">
		<div class="logo fl"><img src="../../app/views/admin/resource/images/logo.png" /></div>

		<div class="admin_t fr">
			<ul>
				<li><a href="/"><img border=0 src="../../app/views/admin/resource/images/exit4.gif"></a></li>
				<li><a href="/admin/login/logout" onclick="return confirm('你确定要退出系统吗？')" ><img border=0 src="../../app/views/admin/resource/images/exit3.gif"></a></li>
			</ul>
		</div>

		<div class="admin_u fr">
			<b>欢迎您-</b><a title="" target="_top" href="">admin</a>&nbsp;【超级管理员】 &nbsp;&nbsp;
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="content">
	<div class="main">
		<div class="left">
			<div class="fenlei">
				<h3>商品管理</h3>
				<ul>

					<li  ><a href="/admin/category">商品分类</a></li>

					<li  ><a href="/admin/product">商品列表</a></li>

					<li  ><a href="/admin/ask">商品咨询</a></li>

					<li  ><a href="/admin/comment">商品评价</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>交易管理</h3>
				<ul>

					<li  ><a href="/admin/order">订单管理</a></li>

					<li  ><a href="/admin/payway">支付方式</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>信息管理</h3>
				<ul>

					<li  ><a href="/admin/aclass">文章分类</a></li>

					<li  ><a href="/admin/article?cid=0">文章列表</a></li>

					<li  ><a href="/admin/page">单页列表</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>用户管理</h3>
				<ul>

					<li  ><a href="/admin/user">会员列表</a></li>

					<li  ><a href="/admin/adminuser">管理列表</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>控制面板</h3>
				<ul>

					<li  class="sel"  ><a href="/admin/setting">基本信息</a></li>

					<li  ><a href="/admin/link">友情链接</a></li>

					<li  ><a href="/admin/ad">广告列表</a></li>
				</ul>
			</div>
		</div>


		<div class="right">
			<div class="now">
				<div class="now_l"></div>
				<div class="now_m">基本信息</div>
				<div class="now_r"></div>
				<div class="clear"></div>
			</div>
			<form method="post" enctype="multipart/form-data" action="/admin/setting/doupdate">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
					<tr>
						<td class="bg_f8" align="right" width="100">网站标题：</td>
						<td><input type="text" name="web_title" value="欢迎使用【EWShop】商城系统" class="inputall input500" /></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">关 键 词：</td>
						<td><input type="text" name="web_keywords" value="源代码,lmonkey,php,shop,ewphp,php商城系统,b2c商城系统,php商城源码,b2c商城源码,开源免费网上商城系统" class="inputall input500" /></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">网站描述：</td>
						<td><textarea name="web_description" style="width:500px;height:100px;">EWShop1.0 教学演示系统！</textarea></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">网站LOGO：</td>
						<td>
							<p class="mab5"><img src="../../uploads/2020-0812-5f3384e8e3cae.png" height="60" style="border:1px solid #ddd" /></p>
							<p><input type="file" name="web_logo" /></p>
						</td>
					</tr>

					<tr>
						<td class="bg_f8" align="right">咨询热线：</td>
						<td><input type="text" name="web_phone" value="400-700-1388" class="inputall input500" /></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">咨询 Q Q：</td>
						<td><input type="text" name="web_qq" value="779050720,46458494,3154661999" class="inputall input500" /><span class="c888">（多个请用“,”隔开）</span></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">版权所有：</td>
						<td><input type="text" name="web_copyright" value="学习猿地 2018-2021" class="inputall input500" /></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">备 案 号：</td>
						<td><input type="text" name="web_icp" value="京ICP备1101010121号 京公网安备 121231212121" class="inputall input500" /></td>
					</tr>


					<tr>
						<td class="bg_f8">&nbsp;</td>
						<td><input type="submit" name="do_submit" value="提 交" class="tjbtn"></td>
					</tr>
				</table>
			</form>
		</div>


		<div class="clear"></div>
	</div>
	<div class="foot">Copyright <span class="num">&copy;</span> 2018-2021 <a target="_blank" href="http://www.broshop.com">学习猿地 - <b>eduwork</b></a> 版权所有</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".list").find("tr").hover(
				function(){
					if ($(this).find("td").hasClass("bgtt")) return;
					$(this).find("td").css("background-color", "#ffffdd");
				},
				function(){
					if ($(this).find("td").hasClass("bgtt")) return;
					$(this).find("td").css("background-color", "#fff");
				}
		)
	})
</script>



</body>
</html>
