
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ewshop后台管理 - 增加广告</title>
	<link type="text/css" rel="stylesheet" href="../../app/views/admin/resource/css/style.css" />
	<script type="text/javascript" src="../../app/views/public/js/jquery.js"></script>
	<script type="text/javascript" src="../../app/views/public/js/global.js"></script>
</head>
<div class="bgimg"></div>
<div class="pagetop">
	<div class="head">
		<div class="logo fl"><img src="../../app/views/admin/resource/images/logo.png" /></div>

		<div class="admin_t fr">
			<ul>
				<li><a href="/"><img border=0 src="../../app/views/admin/resource/images/exit4.gif"></a></li>
				<li><a href="/admin/login/logout" onclick="return confirm('你确定要退出系统吗？')" ><img border=0 src="../../app/views/admin/resource/images/exit3.gif"></a></li>
			</ul>
		</div>

		<div class="admin_u fr">
			<b>欢迎您-</b><a title="" target="_top" href="">admin</a>&nbsp;【超级管理员】 &nbsp;&nbsp;
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="content">
	<div class="main">
		<div class="left">
			<div class="fenlei">
				<h3>商品管理</h3>
				<ul>

					<li  ><a href="/admin/category">商品分类</a></li>

					<li  ><a href="/admin/product">商品列表</a></li>

					<li  ><a href="/admin/ask">商品咨询</a></li>

					<li  ><a href="/admin/comment">商品评价</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>交易管理</h3>
				<ul>

					<li  ><a href="/admin/order">订单管理</a></li>

					<li  ><a href="/admin/payway">支付方式</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>信息管理</h3>
				<ul>

					<li  ><a href="/admin/aclass">文章分类</a></li>

					<li  ><a href="/admin/article?cid=0">文章列表</a></li>

					<li  ><a href="/admin/page">单页列表</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>用户管理</h3>
				<ul>

					<li  ><a href="/admin/user">会员列表</a></li>

					<li  ><a href="/admin/adminuser">管理列表</a></li>
				</ul>
			</div>
			<div class="fenlei">
				<h3>控制面板</h3>
				<ul>

					<li  ><a href="/admin/setting">基本信息</a></li>

					<li  ><a href="/admin/link">友情链接</a></li>

					<li  class="sel"  ><a href="/admin/ad">广告列表</a></li>
				</ul>
			</div>
		</div>


		<div class="right">
			<div class="now">
				<div class="now_l"></div>
				<div class="now_m">
					<span class="fl">增加广告</span>
					<span class="fr fabu"><a href="/admin/ad/add">增加广告</a></span>
				</div>
				<div class="now_r"></div>
				<div class="clear"></div>
			</div>
			<form method="post" enctype="multipart/form-data">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
					<tr>
						<td class="bg_f8" align="right" width="100">广告位置：</td>
						<td>
							<select name="position" class="inputselect">
								<option value="1">首页顶部广告(980*80)</option>
								<option value="2">首页底部广告(980*80)</option>
								<option value="3">所有页面顶部广告(980*80)</option>
								<option value="4">所有页面底部广告(980*80)</option>
								<option value="5">首页焦点图广告(730*300)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">广告链接：</td>
						<td><input type="text" name="url" value="" class="inputall input500" /></td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">广告图片：</td>
						<td>
							<p><input type="file" name="logo" /></p>
						</td>
					</tr>
					<tr>
						<td class="bg_f8" align="right">广告排序：</td>
						<td><input type="text" name="ord" value="" class="inputall input50" /></td>
					</tr>
					<tr>
						<td class="bg_f8">&nbsp;</td>
						<td colspan="2"><input type="submit" name="do_submit" value="提 交" class="tjbtn" /></td>
					</tr>
				</table>
			</form>
		</div>



		<div class="clear"></div>
	</div>
	<div class="foot">Copyright <span class="num">&copy;</span> 2018-2021 <a target="_blank" href="http://www.broshop.com">学习猿地 - <b>eduwork</b></a> 版权所有</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".list").find("tr").hover(
				function(){
					if ($(this).find("td").hasClass("bgtt")) return;
					$(this).find("td").css("background-color", "#ffffdd");
				},
				function(){
					if ($(this).find("td").hasClass("bgtt")) return;
					$(this).find("td").css("background-color", "#fff");
				}
		)
	})
</script>



</body>
</html>
